;; shadow-cljs configuration
{:paths ["src"]
 :deps true
 :builds {:app {:target :browser
                 :output-dir "public/js"
                 :asset-path "/js"
                 :devtools {:http-root "public" 
                            :http-port 8000}
                 :modules {:main {:init-fn ticketflow.core/init}}}}}
